<!DOCTYPE html>
<html>
<head>
  <title>${blog.title} - all</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="content">

  <h1>lambda.io/jmettraux</h1>

  <p>
    <a href="index.html">index</a>
  </p>

  ${CONTENT}
</div>

<script type="text/javascript">

  var h = location.hostname;
  if (h !== '' && h !== 'localhost' && h !== '127.0.0.1') {

    // gauges

    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50454a0e613f5d31dc000088');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  }
</script>
</body>
</html>

