<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>${blog.title}</title>
  ${partial('head.html')}
</head>
<body id="index">
<div id="content">

  <h1>
    <a href="index.html"><img class="brand" src="images/edelweiss.jpg" /></a>
    jmettraux.lambda.io
  </h1>

  <p>John Mettraux, programmer</P>

  <p>
    <a href="https://github.com/jmettraux">github</a>
    <a href="https://twitter.com/jmettraux">@jmettraux</a>
    <a href="https://speakerdeck.com/u/jmettraux">speakerdeck</a>
    <a href="mailto:jmettraux+blog@gmail.com">jmettraux@gmail.com</a>
  </p>

  <p class="links">
    <a href="https://jmettraux.github.io">old blog</a>
    <a href="https://jmettraux.wordpress.com/">older blog</a>
    <a href="all.html">all.html</a>
    <a style="display: none;" href="index.html" class="all-tags">all tags</a>
  </p>

  ${CONTENT}

  <p class="foot-links">
    <a href="https://github.com/jmettraux/blog/">source</a>
    <a href="copyright.html">copyright</a>
  </p>
</div>

${partial('filters.html')}
${partial('gauges.html')}
</body>
</html>

