<!DOCTYPE html>
<html>
<head>
  <title>${blog.title}</title>
  <link href="atom.xml" rel="alternate" title="John Mettraux" type="application/atom+xml" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="content">

  <h1>lambda.io/jmettraux</h1>

  <p>John Mettraux, programmer</P>

  <p>
    <a href="https://github.com/jmettraux">github</a>
    <a href="https://twitter.com/jmettraux">@jmettraux</a>
    <a href="https://speakerdeck.com/u/jmettraux">speakerdeck</a>
    <a href="mailto:jmettraux+blog@gmail.com">jmettraux@gmail.com</a>
  </p>

  <p>
    <a href="https://jmettraux.github.io">old blog</a>
    <a href="https://jmettraux.wordpress.com/">older blog</a>
  </p>

  <h2>blog</h2>

  <p>
    <a href="all.html">all posts</a>
  </p>

  ${CONTENT}
</div>

${File.read('partials/gauges.html')}
</body>
</html>

