<!DOCTYPE html>
<html>
<head>
  <title>${blog.title} - ${title}</title>
  ${partial('head.html')}
</head>
<body class="post">
<div id="content">
<a href="javascript:history.back()"><img class="brand" src="images/edelweiss.jpg" /></a>
${CONTENT}
<div class="links">
  <a href="index.html">index</a>
  <a href="all.html#${id}">all/#${id}</a>
  <a href="mailto:jmettraux+blog${id}@gmail.com">comments</a>
  <a href="copyright.html">copyright</a>
  |
  <span class="tags">${TAGS}</span>
</div>
</div>
${partial('gauges.html')}
</body>
</html>

