<!DOCTYPE html>
<html>
<head>
  <title>${blog.title} - ${title}</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="content" class="post">
${CONTENT}
</div>
</body>

<script type="text/javascript">

  if (location.hostname != 'localhost' && location.hostname != '127.0.0.1') {

    // gauges

    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50454a0e613f5d31dc000088');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  }
</script>
</html>

